In [40]:
import numpy as np
import pandas as pd
import csv

In [2]:
raw_data = pd.read_csv("artists.tsv", delimiter='\t')
raw_data.head()

,id,name,genres,followers,popularity
0,7EnWkKTmRG5i9rW93o5DZm,Axxad,viral rap,6049,47
1,1SQRv42e4PjEYfPhS0Tk9E,The Kinks,"album rock, british invasion, classic rock, fo...",2262130,65
2,0cEVpgfIpUSsUKUMsRrhtZ,Mitch Rossell,"contemporary country, country, country pop, co...",27381,50
3,432R46LaYsJZV2Gmc4jUV5,Joy Division,"alternative rock, art rock, madchester, new wa...",1994832,63
4,5I7ErPVeubiYhds5DFcbfM,axxturel,NaN,15606,46

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4454 entries, 0 to 4453
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4454 non-null   object
 1   name        4454 non-null   object
 2   genres      3799 non-null   object
 3   followers   4454 non-null   int64
 4   popularity  4454 non-null   int64
dtypes: int64(2), object(3)
memory usage: 174.1+ KB

**1. Describe columns meaning:**

In [4]:
raw_data.columns

Index(['id', 'name', 'genres', 'followers', 'popularity'], dtype='object')

In [39]:
meaning_categories = dict.fromkeys(['column name', 'data type', 'meaning', 'example'])

meaning_categories['column name'] = raw_data.columns.tolist()

data_types = ['string', 'string', 'string', 'int', 'int']
meaning_categories['data type'] = data_types

cols_meaning = ['Id of artist', 'Name of artist', 'Artist genres', 'Artist number of followers', 'Artist popularity']
meaning_categories['meaning'] = cols_meaning

examples = []
for col in meaning_categories['column name']:
    examples.append(raw_data[col][0])
meaning_categories['example'] = examples

meaning_categories

{'column name': ['id', 'name', 'genres', 'followers', 'popularity'],
 'data type': ['string', 'string', 'string', 'int', 'int'],
 'meaning': ['Id of artist',
  'Name of artist',
  'Artist genres',
  'Artist number of followers',
  'Artist popularity'],
 'example': ['7EnWkKTmRG5i9rW93o5DZm', 'Axxad', 'viral rap', 6049, 47]}

In [47]:
pd.DataFrame.from_dict(meaning_categories).to_csv('artists_data_description.tsv', sep='\t', index=False)