In [2]:
! pip install ipynb

Collecting ipynb
  Downloading ipynb-0.5.1-py3-none-any.whl (6.9 kB)
Installing collected packages: ipynb
Successfully installed ipynb-0.5.1

In [8]:
import numpy as np
import pandas as pd
from ipynb.fs.full.songs_data_csv import data_train_test

In [15]:
class LinearRegression:
    def fit(self, X, y):
        X_pinv = np.linalg.inv(X.T @ X) @ X.T
        self.w = X_pinv @ y
        return self

    def get_weight(self):
        return self.w

    def predict(self, X):
        return np.sum(self.w.ravel() * X, axis=1)

In [23]:
def model_rmse(y_test, y_pred):
    return np.sqrt(np.mean((y_test.ravel() - y_pred.ravel())**2))

In [17]:
a, b, c, d = data_train_test()
a.head()

,followers,artist popularity,markets,album popularity,duration,explicit
50,61597049,100,182,97,200690,1
51,859125,74,183,81,180066,1
52,7707886,95,183,55,203727,1
53,34095593,86,54,70,186964,1
54,826423,74,183,77,184444,1

In [18]:
def train_all_feature(X_train, y_train, X_test):
    model = LinearRegression().fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return y_pred, model.get_weight()

In [22]:
ds, w = train_all_feature(a, b, c)
pd.DataFrame(ds, columns=['popularity']).head()

   popularity
0   66.513437
1   39.054420
2   47.003971
3   30.626783
4   34.383774

In [24]:
model_rmse(d, ds)

10.99486766391047