In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
raw_data = pd.read_csv('songs_data.tsv', sep='\t')
for i in [6, 9, 10, 11, 12]:
    raw_data.iloc[:, i].astype('int')
raw_data.head()

,id,name,artist,genres,artist_followers,artist_popularity,markets,album,released_date,album_popularity,duration,explicit,popularity
0,2BgEsaKNfHUdlh97KmvFyo,2002,Anne-Marie,"tropical house,pop,dance pop,pop dance,post-te...",10228985,76,183,Speak Your Mind (Deluxe),2018-04-27,72,186986,False,81
1,3nqQXoyQOWXiESFLlDF1hG,Unholy (feat. Kim Petras),"Sam Smith,Kim Petras","uk pop,transpop,pop,dance pop","20747240,825245","87,82",182,Unholy (feat. Kim Petras),2022-09-22,88,156943,False,100
2,4Pbg79cTBu4vgSphoyNq3j,2002,Anne-Marie,"tropical house,pop,dance pop,pop dance,post-te...",10228985,76,183,2002,2018-04-19,52,186986,False,63
3,2Zc3DlVHtwqAVE4KcdajnN,2022,"Baby Storme,Alex Cain",NaN,"43572,43","34,18",183,2022,2022-04-08,25,192000,False,36
4,65fpYBrI8o2cfrwf2US4gq,Rewrite The Stars,"Zac Efron,Zendaya","pop,dance pop,hollywood,show tunes,post-teen pop","757199,3556331","67,69",183,The Greatest Showman (Original Motion Picture ...,2017-12-08,77,217440,False,72

In [25]:
a = raw_data['id'].value_counts()
a[a > 1]

2BgEsaKNfHUdlh97KmvFyo    3
67BtfxlNbhBmCDR2L2l8qd    3
6Uj1ctrBOjOas8xZXGqKk4    2
0VjIjW4GlUZAMYd2vXMi3b    2
696DnlkuDOXcMAnKlTgXXK    2
4rpat16vJWwmY87NGMFRoT    2
4nK5YrxbMGZstTLbvj6Gxw    2
4Oun2ylbjFKMPTiaSbbCih    2
1pLSLwnwpBlM0sZci9X316    2
081hXBEkvg9ZMUmzBIFPor    2
2jEOyC3njMtXRVYWApraJ3    2
0BA6TW66JAvaBZpJwYjrFT    2
5b1PngLlxc7hj3fJXrE2Zm    2
5iFwAOB2TFkPJk8sMlxP8g    2
755inykyaG4w22GWAsA3MX    2
4ZtFanR9U6ndgddUvNcjcG    2
0Uj8qlu6eTGKd6FIVGrwhZ    2
2CbKgsdaHTxijm8xdGP6ul    2
3b1hMSra86BaMQRROVk4JD    2
2iMaOJ82xbB7MaBK8qrfMU    2
3USxtqRwSYz57Ewm6wWRMp    2
57fEVcmQhGZzUPPZv8JYbM    2
1CbaiuyL11DCCbbX4GA8WL    2
7dJVE53hGAX9TcKH0abFic    2
5HCyWlXZPP0y6Gqq8TgA20    2
4Dvkj6JhhA12EX05fT7y2e    2
5ESaWLOFADAep7uQby52Hm    2
4jPy3l0RUwlUI9T5XHBW2m    2
1HsSIPLTQT354yJcQGfEY3    2
364dI1bYnvamSnBJ8JcNzN    2
4Jn63SJwKLr55PdUXlD205    2
10SRMwb9EuVS1K9rYsBfHQ    2
3FAJ6O0NOHQV8Mc5Ri6ENp    2
Name: id, dtype: int64

In [3]:
raw_data_np = np.array(raw_data)

for i in range(len(raw_data_np)):
    raw_data_np[i, 2] = raw_data_np[i, 2].split(',')
    raw_data_np[i, 3] = raw_data_np[i, 3].split(',') if type(raw_data_np[i, 3]) != float else ['Untitled']
    raw_data_np[i, 4] = list(map(int, raw_data_np[i, 4].split(',')))
    raw_data_np[i, 5] = list(map(int, raw_data_np[i, 5].split(',')))
    raw_data_np[i, 8] = datetime.strptime(raw_data_np[i, 8], '%Y-%m-%d') if '-' in raw_data_np[i, 8] else datetime.strptime(raw_data_np[i, 8], '%Y')

In [4]:
songs_data = pd.DataFrame(raw_data_np, columns=raw_data.columns)
songs_data.head()

,id,name,artist,genres,artist_followers,artist_popularity,markets,album,released_date,album_popularity,duration,explicit,popularity
0,2BgEsaKNfHUdlh97KmvFyo,2002,[Anne-Marie],"[tropical house, pop, dance pop, pop dance, po...",[10228985],[76],183,Speak Your Mind (Deluxe),2018-04-27,72,186986,False,81
1,3nqQXoyQOWXiESFLlDF1hG,Unholy (feat. Kim Petras),"[Sam Smith, Kim Petras]","[uk pop, transpop, pop, dance pop]","[20747240, 825245]","[87, 82]",182,Unholy (feat. Kim Petras),2022-09-22,88,156943,False,100
2,4Pbg79cTBu4vgSphoyNq3j,2002,[Anne-Marie],"[tropical house, pop, dance pop, pop dance, po...",[10228985],[76],183,2002,2018-04-19,52,186986,False,63
3,2Zc3DlVHtwqAVE4KcdajnN,2022,"[Baby Storme, Alex Cain]",[Untitled],"[43572, 43]","[34, 18]",183,2022,2022-04-08,25,192000,False,36
4,65fpYBrI8o2cfrwf2US4gq,Rewrite The Stars,"[Zac Efron, Zendaya]","[pop, dance pop, hollywood, show tunes, post-t...","[757199, 3556331]","[67, 69]",183,The Greatest Showman (Original Motion Picture ...,2017-12-08,77,217440,False,72

In [5]:
standard_data = np.copy(raw_data_np)

for i in range(len(standard_data)):
    standard_data[i, 4] = int(np.sqrt(np.sum(list(map(lambda x: x**2, standard_data[i, 4])))))
    standard_data[i, 5] = int(min(100, np.sqrt(np.sum(list(map(lambda x: x**2, standard_data[i, 5]))))))

model_data_np = np.array([[col for col in line if type(col) == int or type(col) == bool] for line in standard_data])

In [6]:
model_data = pd.DataFrame(model_data_np, columns=['followers', 'artist_popularity', 'markets', 'album_popularity', 'duration', 'explicit', 'popularity'])
model_data.iloc[1359]

followers            1018941
artist_popularity        100
markets                  183
album_popularity          22
duration              286306
explicit                   0
popularity                32
Name: 1359, dtype: int64

In [7]:
songs_train = model_data.iloc[300:]
songs_test = model_data.iloc[:300]

train_features = songs_train.iloc[:, :-1]
train_label = songs_train.iloc[:, -1]
test_features = songs_test.iloc[:, :-1]
test_label = songs_test.iloc[:, -1]

In [8]:
train_features.head()

,followers,artist_popularity,markets,album_popularity,duration,explicit
300,3969378,78,181,6,228786,0
301,14488311,100,181,6,156300,1
302,5695735,79,181,6,190318,0
303,6882306,79,12,0,248818,0
304,5157237,78,181,6,191822,1

In [9]:
pd.DataFrame(train_label).head()

     popularity
300           2
301           0
302           0
303           0
304           0

In [10]:
test_features.head()

   followers  artist_popularity  markets  album_popularity  duration  explicit
0   10228985                 76      183                72    186986         0
1   20763646                100      182                88    156943         0
2   10228985                 76      183                52    186986         0
3      43572                 38      183                25    192000         0
4    3636047                 96      183                77    217440         0

In [11]:
pd.DataFrame(test_label).head()

   popularity
0          81
1         100
2          63
3          36
4          72

In [12]:
# query maximum number of artists in 1 song
max_artist = 0
idx = 0
for i in range(len(raw_data_np)):
    if len(raw_data_np[i][2]) > max_artist:
        max_artist = len(raw_data_np[i][2])
        idx = i
max_artist, idx

(39, 1359)