In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
raw_data = pd.read_csv('songs_data.tsv', sep='\t')
raw_data.head()

,id,name,artist,genres,followers,artist popularity,markets,album,release date,album popularity,duration,explicit,popularity
0,2BgEsaKNfHUdlh97KmvFyo,2002,Anne-Marie,"post-teen pop,pop dance,uk pop,dance pop,pop,t...",10204563,76,183,Speak Your Mind (Deluxe),2018-04-27,72,186986,False,81
1,10SRMwb9EuVS1K9rYsBfHQ,Yet To Come,BTS,"k-pop,k-pop boy group",57153603,90,183,Proof,2022-06-10,84,193593,False,85
2,3nqQXoyQOWXiESFLlDF1hG,Unholy (feat. Kim Petras),"Sam Smith,Kim Petras","post-teen pop,uk pop,transpop,dance pop,pop","20698155,823255","87,82",182,Unholy (feat. Kim Petras),2022-09-22,88,156943,False,100
3,3gZyjgWdEibTsQFEmGiSSk,2022 World Championship Theme,League of Legends,"video game music,speedrun",1518468,78,183,2022 World Championship Theme,2022-09-07,40,205500,False,51
4,4Pbg79cTBu4vgSphoyNq3j,2002,Anne-Marie,"post-teen pop,pop dance,uk pop,dance pop,pop,t...",10204563,76,183,2002,2018-04-19,52,186986,False,63

In [19]:
data_np = np.array(raw_data)

for i in range(len(data_np)):
    data_np[i, 2] = data_np[i, 2].split(',')
    data_np[i, 3] = data_np[i, 3].split(',') if type(data_np[i, 3]) != float else ['Untitled']
    data_np[i, 4] = list(map(int, data_np[i, 4].split(',')))
    data_np[i, 5] = list(map(int, data_np[i, 5].split(',')))
    data_np[i, 6] = int(data_np[i, 6])
    data_np[i, 8] = datetime.strptime(data_np[i, 8], '%Y-%m-%d') if '-' in data_np[i, 8] else datetime.strptime(data_np[i, 8], '%Y')
    data_np[i, 9] = int(data_np[i, 9])
    data_np[i, 10] = int(data_np[i, 10])
    data_np[i, 11] = 0 if data_np[i, 11] == False else 1
    data_np[i, 12] = int(data_np[i, 12])

In [20]:
songs_data = pd.DataFrame(data_np, columns=raw_data.columns)
songs_data.head()

,id,name,artist,genres,followers,artist popularity,markets,album,release date,album popularity,duration,explicit,popularity
0,2BgEsaKNfHUdlh97KmvFyo,2002,[Anne-Marie],"[post-teen pop, pop dance, uk pop, dance pop, ...",[10204563],[76],183,Speak Your Mind (Deluxe),2018-04-27,72,186986,0,81
1,10SRMwb9EuVS1K9rYsBfHQ,Yet To Come,[BTS],"[k-pop, k-pop boy group]",[57153603],[90],183,Proof,2022-06-10,84,193593,0,85
2,3nqQXoyQOWXiESFLlDF1hG,Unholy (feat. Kim Petras),"[Sam Smith, Kim Petras]","[post-teen pop, uk pop, transpop, dance pop, pop]","[20698155, 823255]","[87, 82]",182,Unholy (feat. Kim Petras),2022-09-22,88,156943,0,100
3,3gZyjgWdEibTsQFEmGiSSk,2022 World Championship Theme,[League of Legends],"[video game music, speedrun]",[1518468],[78],183,2022 World Championship Theme,2022-09-07,40,205500,0,51
4,4Pbg79cTBu4vgSphoyNq3j,2002,[Anne-Marie],"[post-teen pop, pop dance, uk pop, dance pop, ...",[10204563],[76],183,2002,2018-04-19,52,186986,0,63

In [27]:
data_np_copy = np.copy(data_np)

for i in range(len(data_np_copy)):
    data_np_copy[i, 4] = int(np.sqrt(np.sum(list(map(lambda x: x**2, data_np_copy[i, 4])))))
    data_np_copy[i, 5] = min(100, int(np.sqrt(np.sum(list(map(lambda x: x**2, data_np_copy[i, 5]))))))

standard_data = np.array([[col for col in line if type(col) == int] for line in data_np_copy])

In [28]:
model_data = pd.DataFrame(standard_data, columns=['followers', 'artist popularity', 'markets', 'album popularity', 'duration', 'explicit', 'popularity'])
model_data.iloc[1359]

followers            1010046
artist popularity        100
markets                  183
album popularity          22
duration              286306
explicit                   0
popularity                32
Name: 1359, dtype: int64

In [36]:
songs_train = model_data.iloc[50:]
songs_test = model_data.iloc[:50]

train_features = songs_train.iloc[:, :-1]
train_label = songs_train.iloc[:, -1]
test_features = songs_test.iloc[:, :-1]
test_label = songs_test.iloc[:, -1]

In [30]:
train_features.head()

,followers,artist popularity,markets,album popularity,duration,explicit
50,61938852,100,182,97,200690,0
51,859683,74,183,78,184444,0
52,887351,74,183,81,180066,0
53,6003244,66,182,65,166053,0
54,15828,57,183,43,221607,0

In [31]:
pd.DataFrame(train_label).head()

    popularity
50          97
51          86
52          84
53          75
54          54

In [32]:
test_features.head()

   followers  artist popularity  markets  album popularity  duration  explicit
0   10204563                 76      183                72    186986         0
1   57153603                 90      183                84    193593         0
2   20714520                100      182                88    156943         0
3    1518468                 78      183                40    205500         0
4   10204563                 76      183                52    186986         0

In [33]:
pd.DataFrame(test_label).head()

   popularity
0          81
1          85
2         100
3          51
4          63

In [34]:
# query maximum number of artists in 1 song
max_artist = 0
idx = 0
for i in range(len(data_np)):
    if len(data_np[i][2]) > max_artist:
        max_artist = len(data_np[i][2])
        idx = i
max_artist, idx

(39, 1359)