In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
raw_data = pd.read_csv('songs_data.tsv', sep='\t')
raw_data.head()

,id,name,artist,genres,followers,artist popularity,markets,album,release date,album popularity,duration,explicit,popularity
0,2BgEsaKNfHUdlh97KmvFyo,2002,Anne-Marie,"pop dance,post-teen pop,uk pop,pop,tropical ho...",10179165,76,183,Speak Your Mind (Deluxe),2018-04-27,72,186986,False,81
1,2zYc8JUkCUqY7r567OzpUc,Replay trên con Guây,"Phuc Du,Đan Ni",v-pop,"15757,5","46,36",183,Replay trên con Guây,2022-10-10,43,221607,False,54
2,4Pbg79cTBu4vgSphoyNq3j,2002,Anne-Marie,"pop dance,post-teen pop,uk pop,pop,tropical ho...",10179165,76,183,2002,2018-04-19,52,186986,False,63
3,53JDP7TaGacjUtnStYQp51,CƠN MƯA NGANG QUA - REMIX 2022,Sơn Tùng M-TP,"vietnamese melodic rap,v-pop",3794533,57,183,CƠN MƯA NGANG QUA (REMIX 2022),2022-06-07,34,236716,False,45
4,5cml547MByVlaVrKU2lJTg,Em iu,"Andree Right Hand,Wxrdie,Bình Gold,2pillz","vietnamese hip hop,vietnamese melodic rap,viet...","79875,67054,132364,423","39,44,38,39",183,Em iu,2022-01-30,40,179986,True,51

In [13]:
data_np = np.array(raw_data)

for i in range(len(data_np)):
    data_np[i][2] = data_np[i][2].split(',')
    data_np[i][3] = data_np[i][3].split(',') if type(data_np[i][3]) != float else ['Untitled']
    data_np[i][4] = list(map(int, data_np[i][4].split(',')))
    data_np[i][5] = list(map(int, data_np[i][5].split(',')))
    data_np[i][6] = int(data_np[i][6])
    data_np[i][8] = datetime.strptime(data_np[i][8], '%Y-%m-%d')
    data_np[i][9] = int(data_np[i][9])
    data_np[i][10] = int(data_np[i][10])
    data_np[i][11] = 0 if data_np[i][11] == False else 1
    data_np[i][12] = int(data_np[i][12])

temp = [data_np[i][0] for i in range(len(data_np))]
temp = sorted(temp)
for i in range(len(temp)-1):
    if temp[i+1] == temp[i]:
        print(temp[i], data_np[i][1])

0GKYwhxUPyK10N8IQk8vav Barbarians in Black - 2022 Remix
19QUGgzTFe5xvcw4i7lQaL Have Yourself A Merry Little Christmas
1H0t7IfnkWkym8u9QAv2Gf 2022
2Ajk6j11O6YbaAXAd6Fqdz The Motto
4RnBNGSrdIhoAIpR7dYXjy Mistletoe And Holly - Remastered 1999
4SvDLXzEbGJ1cUDqb4LzZR Mistletoe And Holly - Remastered 1999
6jgNNmpXmszHGxYuQOaMGL Let It Be Christmas
78UHmEt4jnOGrsi0QchqTc Let There Be Peace

In [4]:
songs_data = pd.DataFrame(data_np, columns=raw_data.columns)
songs_data.head()

,id,name,artist,genres,followers,artist popularity,markets,album,release date,album popularity,duration,explicit,popularity
0,2BgEsaKNfHUdlh97KmvFyo,2002,[Anne-Marie],"[pop dance, post-teen pop, uk pop, pop, tropic...",[10179165],[76],183,Speak Your Mind (Deluxe),2018-04-27,72,186986,0,81
1,2zYc8JUkCUqY7r567OzpUc,Replay trên con Guây,"[Phuc Du, Đan Ni]",[v-pop],"[15757, 5]","[46, 36]",183,Replay trên con Guây,2022-10-10,43,221607,0,54
2,4Pbg79cTBu4vgSphoyNq3j,2002,[Anne-Marie],"[pop dance, post-teen pop, uk pop, pop, tropic...",[10179165],[76],183,2002,2018-04-19,52,186986,0,63
3,53JDP7TaGacjUtnStYQp51,CƠN MƯA NGANG QUA - REMIX 2022,[Sơn Tùng M-TP],"[vietnamese melodic rap, v-pop]",[3794533],[57],183,CƠN MƯA NGANG QUA (REMIX 2022),2022-06-07,34,236716,0,45
4,5cml547MByVlaVrKU2lJTg,Em iu,"[Andree Right Hand, Wxrdie, Bình Gold, 2pillz]","[vietnamese hip hop, vietnamese melodic rap, v...","[79875, 67054, 132364, 423]","[39, 44, 38, 39]",183,Em iu,2022-01-30,40,179986,1,51

In [5]:
def powerOfTwo(n):
    return n**2

In [20]:
data_np_copy = np.copy(data_np)

for i in range(len(data_np_copy)):
    data_np_copy[i][4] = int(np.sqrt(np.sum(list(map(powerOfTwo, data_np_copy[i][4])))))
    data_np_copy[i][5] = int(np.sqrt(np.sum(list(map(powerOfTwo, data_np_copy[i][5])))))

standard_data = np.array([[col for col in line if type(col) == int] for line in data_np_copy])

In [21]:
model_data = pd.DataFrame(standard_data, columns=['followers', 'artist popularity', 'markets', 'album popularity', 'duration', 'explicit', 'popularity'])
model_data.head()

,followers,artist popularity,markets,album popularity,duration,explicit,popularity
0,10179165,76,183,72,186986,0,81
1,15757,58,183,43,221607,0,54
2,10179165,76,183,52,186986,0,63
3,3794533,57,183,34,236716,0,45
4,168513,80,183,40,179986,1,51

In [22]:
songs_train = model_data.iloc[50:]
songs_test = model_data.iloc[:50]

train_features = songs_train.iloc[:, :-1]
train_label = songs_train.iloc[:, -1]
test_features = songs_test.iloc[:, :-1]
test_label = songs_test.iloc[:, -1]

In [23]:
def data_train_test():
    return train_features, train_label, test_features, test_label

In [24]:
train_features.head()

,followers,artist popularity,markets,album popularity,duration,explicit
50,61597049,100,182,97,200690,0
51,859125,74,183,81,180066,0
52,7707886,95,183,55,203727,0
53,34095593,86,54,70,186964,0
54,826423,74,183,77,184444,0

In [10]:
pd.DataFrame(train_label).head()

    popularity
50          96
51          85
52          67
53          81
54          86

In [25]:
test_features.head()

   followers  artist popularity  markets  album popularity  duration  explicit
0   10179165                 76      183                72    186986         0
1      15757                 58      183                43    221607         0
2   10179165                 76      183                52    186986         0
3    3794533                 57      183                34    236716         0
4     168513                 80      183                40    179986         1

In [12]:
pd.DataFrame(test_label).head()

   popularity
0          81
1          54
2          63
3          45
4          51

In [13]:
# query maximum number of artists in 1 song
max_artist = 0
idx = 0
for i in range(len(data_np)):
    if len(data_np[i][2]) > max_artist:
        max_artist = len(data_np[i][2])
        idx = i
max_artist, idx

(10, 220)